#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
TestResults*/
*.nupkg
/Examples/ClientDaqTest/ClientDaqTest.XML
/Examples/ClientDaqTest/ClientTest.XML
/Examples/ClientTest/ClientTest.XML
/Examples/ServerDaqTest/ServerDaqTest.XML
/Examples/ServerDaqTest/ServerTest.XML
/Examples/ServerTest/ServerTest.XML
/Examples/SingleProcess/SingleProcess.XML
/SharedMemory/SharedMemory.XML
